<div class="maze-container">
  <div class="settings">
    <button (click)="generateMaze()">Start</button>
    <div class="variable" *ngIf="fieldSize">
      <label>{{ fieldSize.name }}</label>
      <input
        class="variable-input"
        type="number"
        [(ngModel)]="fieldSize.value"
      />
    </div>
    <div class="variable enable-lines" *ngIf="enableLines">
      <label>{{ enableLines.name }}</label>
      <div class="choices">
        <span
          (click)="enableLines.value = false"
          [class.selected]="!enableLines.value"
          >No</span
        >
        <span
          (click)="enableLines.value = true"
          [class.selected]="enableLines.value"
          >Yes</span
        >
      </div>
    </div>
    <div class="variable enable-lines" *ngIf="enableGrid">
      <label>{{ enableGrid.name }}</label>
      <div class="choices">
        <span
          (click)="enableGrid.value = false"
          [class.selected]="!enableGrid.value"
          >No</span
        >
        <span
          (click)="enableGrid.value = true"
          [class.selected]="enableGrid.value"
          >Yes</span
        >
      </div>
    </div>
    <div class="variable" *ngFor="let variable of settingVariables">
      <label>{{ variable.name }}</label>
      <label *ngIf="variable.unit">{{ variable.unit }}</label>
      <input class="variable-input" [(ngModel)]="variable.value" />
    </div>
    <div class="add-walker variable" *ngIf="maze">
      <label>Add a new walker</label>
      <select [(ngModel)]="walkerType">
        <option value="straight">Straight</option>
        <option value="diagonal">Diagonal</option>
        <option value="drunk" selected>Drunk</option>
      </select>
      <button (click)="addWalker()">Add</button>
    </div>
  </div>
  <div class="draw-area">
    <div
      class="environment"
      *ngIf="environment"
      [style.--field-size]="fieldSize.value + 'px'"
      [style.width.px]="fieldSize.value * environment.settings.width"
      [style.height.px]="fieldSize.value * environment.settings.height"
    >
      <h1 class="return" *ngIf="resourcesLeft != 0; else mazeCompleted">
        Resource left: {{ resourcesLeft }}
      </h1>
      <ng-template #mazeCompleted
        ><h1 class="return">Maze completed. Congratulations.</h1></ng-template
      >
      <ng-container *ngIf="enableGrid.value">
        <div *ngFor="let row of environment.fields" class="row">
          <div
            *ngFor="let column of row; trackBy: fieldById"
            class="column"
            [class.passed]="column.passed"
          >
            <span *ngIf="false">{{ column.fieldId }}</span>
            <span>{{ column.hasResource ? "R" : "" }}</span>
          </div>
        </div>
      </ng-container>

      <div
        *ngFor="let field of resourceFields; trackBy: fieldById"
        [ngStyle]="resourceStyle(field)"
        [class.taken]="field.passed"
        class="resource"
      ></div>
      <div
        *ngFor="let walker of environment.walkers; trackBy: walkerByName"
        class="walker"
        [ngStyle]="walkerStyle(walker)"
      >
        <fa-icon
          [icon]="walker.uiSetting?.icon"
          [size]="fieldSize.value >= 30 ? 'lg' : 'xs'"
        ></fa-icon>
      </div>
      <svg
        id="environment"
        *ngIf="enableLines.value"
        [attr.width]="fieldSize.value * environment.settings.width"
        [attr.height]="fieldSize.value * environment.settings.height"
        [class.background]="enableGrid.value"
      >
        <g *ngFor="let walker of environment.walkers; trackBy: walkerByName">
          <polyline
            *ngIf="walker.walkHistory.length > 1"
            [attr.points]="walkerHistoryPoints(walker)"
            fill="none"
            [attr.stroke]="walker.uiSetting?.color"
            stroke-width="2"
          />
        </g>
      </svg>
    </div>
  </div>
</div>
